
ul{
    list-style-type: none;
    background-color: #f0530a;
}
ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li{
    display: block;
    transition: all 2s;



}

ul li ul.dropdown{
    width: 100%;
    background-color: #f07909;
    position: absolute;
    z-index: 999;
    display: none;
    transition: all 2s;
}

ul li a:hover{
    background-color: #e28148;

}
ul li:hover ul.dropdown{
    display: block;
}
